extends ../layout

block pagecontent
    .row
        h2.text-danger Are you sure you want to delete this record?
    .row
        h2.text-info= employee.id
        h2.text-info= employee.name
    .row
        form(method="post")
            button.btn.btn-danger(type="submit") Delete
            | | &nbsp
            a(href="/employees") Back to Employees